# Built files
/build/
/app/build/
/app/release/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# Local configuration
local.properties

# Keystore files
*.jks
*.keystore

# NDK
obj/
.externalNativeBuild/

# Logs
*.log

# Kotlin
.kotlin/

# Captures (screenshots from Layout Inspector)
captures/

# Profiling / heap dumps
*.hprof
